html,body{
  max-width: 1920px;
  max-height: 1080px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  overflow-x: visible;
  background-image: url(/assets/background.jpg);
  background-color: #cccccc;
  background-size: 1920px 1080px;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 30px;
  text-align: center;
  align-self: center;
  overflow: visible;
}
button{
  background-color:transparent;
  border:none;
}

.username{
  color:white;
  padding-top:10px;
  letter-spacing: 2px;
}

.qrcode{
  text-align: center;
}