html,body{
  max-width: 1920px;
  max-height: 1080px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  overflow-x: visible;
  background-image: url(/assets/background.jpg);
  background-color: #cccccc;
  background-size: 1920px 1080px;
}

.ironman {
  /* ironman */
  position: absolute;
  width: 220px;
  height: 227px;
  left: 1505px;
  top: 58px;
}

.bear {
  /* bear */
  position: absolute;
  width: 270px;
  height: 290px;
  left: 1480px;
  top: 723px;
}

.sonic {
  /* sonic */
  position: absolute;
  width: 250px;
  height: 258px;
  left: 1482px;
  top: 385px;
}

.batman {
  /* batman */
  position: absolute;
  width: 220px;
  height: 220px;
  left: 254px;
  top: 65px;
}

.mario {
  /* mario */
  position: absolute;
  width: 220px;
  height: 255.81px;
  left: 254px;
  top: 380px;
}

.spiderman {
  /* spiderman */
  position: absolute;
  width: 220px;
  height: 220px;
  left: 254px;
  top: 759px;
}

.spongebob {
  /* spongebob */
  position: absolute;
  width: 220px;
  height: 220px;
  left: 859px;
  top: 759px;
  border-radius: 100px;
}

.pikachu {
  /* pikachu */
  position: absolute;
  width: 262px;
  height: 247px;
  left: 829px;
  top: 385px;
}

.deadpool {
  /* deadpool */
  position: absolute;
  width: 210px;
  height: 228px;
  left: 860px;
  top: 65px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  padding-top: 10px;
  font-size: 30px;
  text-align: center;
  align-self: center;
  overflow: visible;
}
button{
  background-color:transparent;
  border:none;
}