.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    overflow-x: auto;
  }
.top {
  background-color: transparent;
  border-bottom: solid white;
}
.title{
    color:white;
    font-size:8vh;
    text-align:center;
    margin: 0;
    font-family: 'Redressed';
}
.back{
    height:auto;
    width:auto;
    vertical-align: center;
    padding-left:1vh;
    padding-bottom:3vh;
    background-color:transparent;
    border:none;
}
.icon{
    height:auto;
    width:auto;
    text-align: center;
    vertical-align: center;
    top:10vh;
    padding-bottom:3vh;
}
.avatar{
    color:white;
    font-size:4.5vh;
    text-align:center;
    vertical-align: center;
    margin-top:5vh;
}
.footer{
    position: fixed;
    display: grid;
    grid-template-columns: 70% 30%;
    background-color: transparent;
    left:0;
    bottom:0;
    clear: both;
    width:100%;
}
.ready{
    font-size:2.7vh;
    color:white;
    padding-top:3vh;
    text-align: right;
}
.check{
    width:inherit;
    height:inherit;
    margin:0 auto;
    background-color:transparent;
    border:none;
    float:left;
    padding-bottom:-0.1vh;
}