<ami-fullstack-background-image type="table"></ami-fullstack-background-image>
    <ami-fullstack-handui (HandUiMesseger)="messagesFromUI($event)" *ngIf="showUi" [x]="mouseX" [y]="mouseY" class="overlay zindex2"></ami-fullstack-handui>
    <div class="overlay" *ngIf="show" id="containerDiv" (click)="coordinates($event)">
        <div *ngIf="showGraph" id="graphDiv">
            <ami-fullstack-livevoting-header *ngIf="showGraph"></ami-fullstack-livevoting-header>
            <ami-fullstack-graph-row  
            *ngFor="let row of players"  
            [img]="row.char.img"
            [inputWidth]="row.width" 
            [inputColor]="row.char.color" 
            [inputName]="row.username"
            [votes]="row.votes"
            [votedBy]="row.votedBy">
        </ami-fullstack-graph-row>
    </div>
    
        <ami-fullstack-cemeterypopup  (cemeteryMessager)="messagesFromCemetery($event)" *ngIf="showCemetery zindex3"></ami-fullstack-cemeterypopup>
        <div *ngIf="showWasted">
            <ami-fullstack-wasted [deadPerson]="thisRoundDeadPerson" [imgStyle]="wastedImgStyle"></ami-fullstack-wasted>
        </div>
    </div>


