<link href='https://fonts.googleapis.com/css?family=Redressed' rel='stylesheet'>
<div *ngIf="isViewable">
    <ami-fullstack-background-image type="mobile"></ami-fullstack-background-image>
    <div class="overlay">
        <div class="top">
            <p class="title">Start Game</p>
        </div>
        <div class="username">
            <p class="name">Enter Your Name</p>
            <input id="textfield" type="text" name="username" [(ngModel)]="username"><br>
        </div>
        <p class="avatar">Choose your avatar:</p>
        <div class="avataricons">
            <button class="icon" *ngFor="let row of avatars" [disabled]="!row.available" [style]="row.opacity" [id]="row.name" (click)="iconSelected(row.name)"> <img  [id]="row.name + '_img'"[src]="row.img" style="width: 7vh;"> </button>
        </div>
        <div class="footer">
            <p class="ready">Press button when ready </p>
            <button class="check" (click)=ready()><img src="assets/checked.png" style="width:8vh"></button>
        </div>
    </div>
</div>
<ami-fullstack-mobile-init2 [inputName]="username" [imputImg]="selectedObject.img" (Init2messages)="messagesfrominit2($event)" *ngIf="!isViewable"></ami-fullstack-mobile-init2>