<div class="overlay">

    <!-- Avatars -->

    <div class="header">

        <font color="white">{{name}}</font>
        <input (click)="exit()" type="button" class="right">
    
    </div>

    <div class="grid-container">
        <div class="grid-item1">
            <p>
                <font color="white">Previous Player</font>
            </p>
            <button (click)="prevp();"><img src="/assets/left.png" alt="left" width="100" height="100" /></button>
            <img [src]="prev.img" alt="deadpool" width="100" height="100" />
        </div>
        
        <div class="grid-container2">
            <div class="grid-item4">
                <p>
                    <font color="white">Round</font>
                </p>
            </div>
            
            <div class="grid-item5">
                <p>
                    <font color="white">Voted</font>
                </p>
            </div>
            
            <div class="grid-item6">
                <p>
                    <font color="white">Voted By</font>
                </p>
            </div>

            <div class="grid-item7">
                <p class="rounds"><font color="white">1</font></p>
                <p class="rounds"><font color="white">2</font></p>
                <p class="rounds"><font color="white">3</font></p>
                <p class="rounds"><font color="white">4</font></p>
                <p class="rounds"><font color="white">5</font></p>
            </div>

            <div class="grid-item8">
                <img class="voted" src="/assets/avatars/deadpool.png" alt="deadpool" width="80" height="80" />
                <img class="voted" src="/assets/avatars/spiderman.png" alt="spiderman" width="80" height="80" />
                <img class="voted" src="/assets/avatars/spiderman.png" alt="spiderman" width="80" height="80" />
                <img class="voted" src="/assets/avatars/spongebob.png" alt="spongebob" width="80" height="80" />
            </div>

            <div class="grid-item9">
                <p>
                    <img src="/assets/avatars/spongebob.png" alt="spongebob" width="80" height="80" />
                    <img src="/assets/avatars/luigi.png" alt="bear" width="80" height="80" />
                    <img src="/assets/avatars/deadpool.png" alt="deadpool" width="80" height="80" />
                    <img src="/assets/avatars/pikachu.png" alt="pikachu" width="80" height="80" />
                </p>
                <p>
                    <img src="/assets/avatars/spongebob.png" alt="spongebob" width="80" height="80" />
                    <img src="/assets/avatars/pikachu.png" alt="pikachu" width="80" height="80" />
                    <img src="/assets/avatars/sonic.png" alt="sonic" width="80" height="80" />
                </p>
                <p>
                    <img src="/assets/avatars/luigi.png" alt="bear" width="80" height="80" />
                    <img src="/assets/avatars/deadpool.png" alt="deadpool" width="80" height="80" />
                </p>
                <p>
                    <img src="/assets/avatars/spongebob.png" alt="spongebob" width="80" height="80" />
                    <img src="/assets/avatars/luigi.png" alt="bear" width="80" height="80" />
                    <img src="/assets/avatars/sonic.png" alt="sonic" width="80" height="80" />
                    <img src="/assets/avatars/mario.png" alt="mario" width="80" height="80" />
                </p>
                <p class="grid-item10">
                        <font color="red">DEAD</font>
                </p>
            </div>
        </div>

        <div class="grid-item3">
            <p>
                <font color="white">Next Player</font>
            </p>
            <img [src]="next.img" alt="mario" width="100" height="100" />
            <button (click)="nextp();"><img src="/assets/right.png" alt="right" width="100" height="100" /></button>
        </div>
    </div>

    <div class="player"><img [src]="image" style="width:50vh"></div>

</div>