.top {
    display: grid;
    grid-template-columns: 20% 40% 20% 20%;
    background-color: transparent;
    border-bottom: solid white;
  }

.avatar {
  height:auto;
  width:auto;
  text-align: center;
  margin-top:0.8vh;
}

.username{
    display: flex;
    font-size:2.5vh;
    color:white;
    margin-top:2.2vh;
}

.mask{
    height:auto;
    width:auto;
    text-align: center;
    background-color: black;
    margin-top:1.5vh;
    padding-bottom:1vh;
    margin-left:5vw;
    background-color: transparent;
    border:none;
    }

.history{
    height:auto;
    width:auto;
    text-align: center;
    margin-top:1.8vh;
    padding-bottom:1vh;
    margin-left:2vw;
    background-color: transparent;
    border:none;
    }