
<div>
    <div>
        <button (click)="testRunningServer()">Test running server</button>
        <button (click)="startInit()" style="background:yellow">Start initialize text</button>
    </div>
    <div>
        <button (click)="addPlayer('ktsirakos','Pikachu' , 'assets/avatars/pikachu.png' ,'yellow')">Add Pikachu</button>
        <button (click)="addPlayer('ktsirakos','Iron Man' ,'assets/avatars/ironman.png' , 'red')">Add Iron Man</button>
        <button (click)="addPlayer('ktsirakos','Sonic' , 'assets/avatars/sonic.png' ,'blue')">Add Sonic</button>
        <button (click)="addPlayer('ktsirakos','Deadpool' , 'assets/avatars/deadpool.png' ,'red')">Add Deadpool</button>
    </div>
</div>

<div>
    <button (click)="startGameScript()" style="background:green">Players Ready</button>
</div>
<div>
        <button (click)="vote('Pikachu','Deadpool')">Pikachu votes Deadpool</button>
        <button (click)="vote('Deadpool','Pikachu')">Deadpool votes Pikachu</button>
        <button (click)="vote('Sonic','Iron Man')">Sonic Votes Iron Man</button>
        <button (click)="vote('Iron Man','Pikachu')">Ironman Votes Pikachu</button>
</div>
<div>
    <button (click)="getVoting()">Get voting result</button>
    <button (click)="mafiaspeaker.nightScript()" style="background:blue; color:white">Let night fall</button>
    <button (click)="mafiaspeaker.endofroundScript()" style="background:red">End of round</button>

</div>