
<div>
    <button (click)="testRunningServer()">Test running server</button>
    <button (click)="getAvailableIcons()">Get Icons</button>
    <button (click)="getPlayers()">Get Players</button>
</div>

<div>
    <button (click)="startGame()">Start</button>
</div>
<div>
        <button (click)="vote('Deadpool')">Vote deadpool</button>
        <button (click)="vote('Pikachu')">Vote Pikachu</button>
        <button (click)="vote('Iron Man')">Vote Iron man</button>
</div>
<div>
    <button (click)="getVoting()">Get voting result</button>
</div>