<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }
</style>

<div class="overlay">

  <!-- Avatars -->

  <div class="grid-container">
    <div class="grid-item">
      <img id="place1" src="/assets/roles/barman.png" width="220" height="220" />
    </div>

    <div class="grid-item">
      <img id="place2" src="/assets/roles/godfather.png"  width="220" height="220" />
    </div>

    <div class="grid-item">
      <img id="place3" src="/assets/roles/barman.png"  width="220" height="220" />
    </div>

  </div>

  <div class="grid-container2">
    <div class="grid-item2">
      <p>
        <font color="white">Wants to kill</font>
      </p>
    </div>

    <div class="grid-item2">
      <p>
        <font color="white">Wants to kill</font>
      </p>
    </div>

    <div class="grid-item2">
      <p>
        <font color="white">Wants to kill</font>
      </p>
    </div>
  </div>

  <div class="grid-container3">
    <div class="grid-item3">
      <img id="barman1" [src]="barman1choise" alt="batman" width="220" height="220" />
    </div>

    <div class="grid-item3">
      <img id ="godfather" [src]="godfatherchoise" alt="deadpool" width="220" height="220" />
    </div>

    <div class="grid-item3">
      <img id ="barman2" [src]="barman2choise" alt="ironman" width="220" height="220" />
    </div>

  </div>
</div>