.avatar {
    width: 10%;
}

.box {
    width:100%;
}


.grid-container {
    display: grid;
    grid-template-columns: 10% 65% min-content 20%;
    grid-auto-columns: auto;
    // background-color: #2196F3;
    padding: 10px;
  }
  
  .grid-item {
    // background-color: rgba(255, 255, 255, 0.8);
    // border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    max-width: 100%;
  }


  .number {
    color : white;
    font-family: Stylish;
    font-style: normal;
    font-weight: normal;
    font-size: 4pc;
  }