<div class="grid-container">
    <div class="grid-item">
        <ami-fullstack-avatar-icon [img]="img" class="avatar"></ami-fullstack-avatar-icon>
    </div>
    <div class="grid-item">
            <ami-fullstack-vote-box class="box"
            [inputWidth]="inputWidth" [inputColor]="inputColor" [inputName]="inputName"
        ></ami-fullstack-vote-box>
    </div>
    <div class="grid-item">
        <p class="number">
            {{votes}}
        </p>
    </div>
    <div class="grid-item">
        <ami-fullstack-avatars-list [votes]="votedBy"></ami-fullstack-avatars-list>
    </div>
</div>
