<ami-fullstack-background-image type="mobile"></ami-fullstack-background-image>
<div class="overlay">
    <ami-fullstack-mobile-header (DayMessages)="messagesfromday($event)"  (HeaderMessages)="messagesfrombio($event)" (HistoryMessages)="messagesfromhistory($event)" ></ami-fullstack-mobile-header>
</div>
<div class="overlay1" *ngIf="(!bio && day) && !history">
<ami-fullstack-mobile-phase></ami-fullstack-mobile-phase>
</div>
<div class="overlay2" *ngIf="(!bio && day && !history)">
    <ami-fullstack-mobile-body [image]="row.img" [name]="row.name" *ngFor="let row of players"  (imgMessage)="messagesfrombody($event)">
    </ami-fullstack-mobile-body>
</div>
<div class="overlay3" *ngIf="(!bio && day && !history)">
    <ami-fullstack-mobile-bottom [image]="img" ></ami-fullstack-mobile-bottom>
</div>
<ami-fullstack-mobile-bio (ExitMessage)="messagesfromexit($event)" *ngIf="bio"></ami-fullstack-mobile-bio>
<ami-fullstack-mobile-history (ExitMessage)="messagesfromexit($event)" *ngIf="history"></ami-fullstack-mobile-history>
<ami-fullstack-mobile-ability *ngIf="(!bio && !day)"></ami-fullstack-mobile-ability>