<div class="center">
    <ami-fullstack-avatar-icon [img]="deadPerson.char.img" [imgStyle]="imgStyle"></ami-fullstack-avatar-icon>
    <img class="redsmoke" src="assets/redsmoke.png"/>
        <div class="wastedTextDiv">
            <p class="wastedText">WASTED</p>
        </div>
        <div class="name">
            {{deadPerson.username}}
        </div>
        <div class="role">
            <ami-fullstack-avatar-icon [img]="deadPerson.img" [imgStyle]="roleStyle"></ami-fullstack-avatar-icon>
        </div>
</div>
