<audio volume="0.9" autoplay>
    <source src="/assets/wasted.mp3" type="audio/mpeg">
</audio>

<div class="center">
    <ami-fullstack-avatar-icon [img]="deadPerson.char.img" [imgStyle]="imgStyle"></ami-fullstack-avatar-icon>
    <img class="redsmoke" src="assets/redsmoke.png"/>
        <div class="wastedTextDiv">
            <p class="wastedText">WASTED</p>
        </div>
        <div class="name">
            {{deadPerson.username}}
        </div>
        <div *ngIf="deadPerson.deathState == 'Day'" class="role">
            <ami-fullstack-avatar-icon [img]="deadPerson.role.img" [imgStyle]="roleStyle" *ngIf="[deadPerson.role.img]!=null"></ami-fullstack-avatar-icon>
        </div>
</div>
