<div class="container" >
    <button class="exit" (click)="exit()"> <img src="assets/x-button.png" style="width: 4.5vh;"> </button>
    <div class="role">
        <img class="icon" src="assets/doctor.png" style="width: 18vh;">
        <p class="name">Doctor</p>
        <div id="info">
             Allied with the Innocents,
                the Doctor role protects others at night.
        </div>
        <div id="ability">
                <u style="font-weight: bolder;">Ability:</u> You choose to protect a player from the Mafia if they decide to kill him. You can choose to
                protect
                yourself.
        </div>
    </div>
</div>