p{
    font-family: Redressed;
}
.header{
    font-family: Redressed;
}
font{
    font-family: Redressed;
}
.name{
    font-family: Redressed;
}
u{
    font-family: Redressed;
}
#info{
    font-family: Redressed;
}
.button{
    font-family: Redressed;
}