<style>
    :host {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 14px;
        color: #333;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 8px 0;
    }

    p {
        margin: 0;
    }
</style>

<div class="overlay">
    <div class="grid-container">
        <div class="grid-item1">
            <div class="grid-container2">
                <div class="grid-item3">
                    <img src="/assets/avatars/spongebob.png" alt="spongebob" width="150" height="150" />
                    <font size="10" color="white">X</font>
                    <font color="white">2</font>
                    <p>
                        <span class="note">
                            <font color="white">Detective</font>
                        </span>
                    </p>
                    <p>
                        <font color="white">
                            Τhe Detective can detect whether a player is a mafioso or not once every round
                        </font>
                    </p>
                </div>

                <div class="grid-item4">
                    <img src="/assets/avatars/spongebob.png" alt="spongebob" width="150" height="150" />
                    <font size="10" color="white">X</font>
                    <font color="white">1</font>
                    <p>
                        <span class="note">
                            <font color="white">Doctor</font>
                        </span>
                    </p>
                    <p>
                        <font color="white">
                            The Doctor can save a random person during the night, if the mafia killed him
                        </font>
                    </p>
                </div>

                <div class="grid-item5">
                    <img src="/assets/avatars/spongebob.png" alt="spongebob" width="150" height="150" />
                    <font size="10" color="white">X</font>
                    <font color="white">3</font>
                    <p>
                        <span class="note">
                            <font color="white">Masons</font>
                        </span>
                    </p>
                    <p>
                        <font color="white">
                            Masons can recognize each other
                        </font>
                    </p>
                </div>
            </div>

            <div class="grid-container3">
                <div class="grid-item6">
                    <img src="/assets/avatars/spongebob.png" alt="spongebob" width="150" height="150" />
                    <font size="10" color="white">X</font>
                    <font color="white">1</font>
                    <p>
                        <span class="note">
                            <font color="white">Godfather</font>
                        </span>
                    </p>
                    <p>
                        <font color="white">
                            The Godfather will be identified by the detective as innocent
                        </font>
                    </p>
                </div>

                <div class="grid-item7">
                        <img src="/assets/avatars/spongebob.png" alt="spongebob" width="150" height="150" />
                        <font size="10" color="white">X</font>
                        <font color="white">2</font>
                        <p>
                            <span class="note">
                                <font color="white">Barman</font>
                            </span>
                        </p>
                        <p>
                            <font color="white">
                                The Barman may anonymously cancel the effect of another role's ability every night
                            </font>
                        </p>
                    </div>
            </div>
        </div>

        <div class="grid-item2">
            
        </div>
    </div>
</div>