<div class="overlay" *ngIf="!night">
    <audio volume="0.4" autoplay loop>
        <source src="/assets/music_day.mp3" type="audio/mpeg">
    </audio>
    <div class="grid-container">
        <div class="grid-item1" style="max-height:800px; max-width: 1780px;">
            <div class="grid-container2">
                <div class="grid-item3">
                    <img src="/assets/roles/detective.png" width="150" height="150" />
                    <font size="10" color="black">X</font>
                    <font id="Detective" color="black">0</font>
                    <p>
                        <span class="note">
                            <font color="black">Detective</font>
                        </span>
                    </p>
                    <p>
                        <font color="black">
                            Τhe Detective knows all the mafiosi except for the Godfather
                        </font>
                    </p>
                </div>

                <div class="grid-item4">
                    <img src="/assets/roles/doctor.png" width="150" height="150" />
                    <font size="10" color="black">X</font>
                    <font color="black" id="Doctor">0</font>
                    <p>
                        <span class="note">
                            <font color="black">Doctor</font>
                        </span>
                    </p>
                    <p>
                        <font color="black">
                            The Doctor can save someone during the night, if the mafia killed him
                        </font>
                    </p>
                </div>

                <div class="grid-item5">
                    <img src="/assets/roles/masons.png" width="150" height="150" />
                    <font size="10" color="black">X</font>
                    <font color="black" id="Masons">3</font>
                    <p>
                        <span class="note">
                            <font color="black">Masons</font>
                        </span>
                    </p>
                    <p>
                        <font color="black">
                            Masons can recognize each other
                        </font>
                    </p>
                </div>
            </div>

            <div class="grid-container3">
                <div class="grid-item6">
                    <img src="/assets/roles/godfather.png" width="150" height="150" />
                    <font size="10" color="black">X</font>
                    <font color="black" id="Godfather">1</font>
                    <p>
                        <span class="note">
                            <font color="black">Godfather</font>
                        </span>
                    </p>
                    <p>
                        <font color="black">
                            The Godfather remains hidden from the Detective
                        </font>
                    </p>
                </div>

                <div class="grid-item7">
                    <img src="/assets/roles/barman.png" width="150" height="150" />
                    <font size="10" color="black">X</font>
                    <font color="black" id="Barman">2</font>
                    <p>
                        <span class="note">
                            <font color="black">Barman</font>
                        </span>
                    </p>
                    <p>
                        <font color="black">
                            The Barman is a mafioso, knowing all the other members of the Mafia
                        </font>
                    </p>
                </div>
            </div>
        </div>

        <div class="grid-item2" style="max-height:800px; max-width: 1780px;">
            <p style="margin-top: 80px; margin-bottom: -80px;">
                <font style="padding-top: 100px;" color="black">Round</font>
            </p>
            <p>
                <span class="note2">
                    <font color="black">{{round}}</font>
                </span>
            </p>
            <p style="margin-bottom: 80px; margin-top: -80px;">
                <button (click)="chnight();" color="black"><img class="sun_moon" src="assets/sun.png"></button>
            </p>
            <p class="note3">Active Players:
                <!-- <font color="black">Active Players: </font> -->
            </p>
            <p class="note4" id="activeplayers">{{activePlayers}}</p>
        </div>
    </div>
</div>

<div class="overlay2" *ngIf="night">
    <audio volume="0.4" autoplay loop>
        <source src="/assets/music_night.mp3" type="audio/mpeg">
    </audio>
    <div class="grid-container">
        <div class="grid-item1" style="max-height:800px; max-width: 1780px;">
            <div class="grid-container2">
                <div class="grid-item3">
                    <img src="/assets/roles/detective.png" width="150" height="150" />
                    <font size="10" color="white">X</font>
                    <font color="white" id="Detective">2</font>
                    <p>
                        <span class="note">
                            <font color="white">Detective</font>
                        </span>
                    </p>
                    <p>
                        <font color="white">
                            Τhe Detective knows all the mafiosi except for the Godfather
                            <!--Τhe Detective can detect whether a player is a mafioso or not once every round -->
                        </font>
                    </p>
                </div>

                <div class="grid-item4">
                    <img src="/assets/roles/doctor.png" width="150" height="150" />
                    <font size="10" color="white">X</font>
                    <font color="white" id="Doctor">1</font>
                    <p>
                        <span class="note">
                            <font color="white">Doctor</font>
                        </span>
                    </p>
                    <p>
                        <font color="white">
                            The Doctor can save someone during the night, if the mafia killed him
                        </font>
                    </p>
                </div>

                <div class="grid-item5">
                    <img src="/assets/roles/masons.png" width="150" height="150" />
                    <font size="10" color="white">X</font>
                    <font color="white" id="Masons">3</font>
                    <p>
                        <span class="note">
                            <font color="white">Masons</font>
                        </span>
                    </p>
                    <p>
                        <font color="white">
                            Masons can recognize each other
                        </font>
                    </p>
                </div>
            </div>

            <div class="grid-container3">
                <div class="grid-item6">
                    <img src="/assets/roles/godfather.png" width="150" height="150" />
                    <font size="10" color="white">X</font>
                    <font color="white" id="Godfather">1</font>
                    <p>
                        <span class="note">
                            <font color="white">Godfather</font>
                        </span>
                    </p>
                    <p>
                        <font color="white">
                            The Godfather remains hidden from the Detective
                            <!-- The Godfather will be identified by the detective as innocent -->
                        </font>
                    </p>
                </div>

                <div class="grid-item7">
                    <img src="/assets/roles/barman.png" width="150" height="150" />
                    <font size="10" color="white">X</font>
                    <font color="white" id="Barman">2</font>
                    <p>
                        <span class="note">
                            <font color="white">Barman</font>
                        </span>
                    </p>
                    <p>
                        <font color="white">
                            The Barman is a mafioso, knowing all the other members of the Mafia
                        </font>
                    </p>
                </div>
            </div>
        </div>

        <div class="grid-item2" style="max-height:800px; max-width: 1780px;">
            <p style="margin-top: 80px; margin-bottom: -80px;">
                <font style="padding-top: 100px;" color="white">Round</font>
            </p>
            <p>
                <span class="note2">
                    <font color="white">{{round}}</font>
                </span>
            </p>
            <p style="margin-bottom: 80px; margin-top: -80px;">
                <button (click)="chnight();" style="color:white"><img class="sun_moon" src="assets/moon.png"></button>
            </p>
            <p class="note3" style="color: white;">Active Players:
                <!-- <font color="black">Active Players: </font> -->
            </p>
            <p class="note4" style="color:white"  id="activeplayers">{{activePlayers}}</p>
        </div>
    </div>
</div>