.overlay{
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:auto;
}

h1{
    position: absolute;
    width: 1790px;
    height: 134px;
    left: -10px;
    top: 63px;
    
    font-family: Redressed;
    font-style: normal;
    font-weight: normal;
    font-size: 144px;
    line-height: 169px;
    text-align: center;
    
    color: #FFFAFA;

}

h2{
    position: absolute;
    width: 864px;
    height: 152px;
    left: 453px;
    top: 278px;

    font-family: Redressed;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    text-align: center;

    color: #FFFFFF;


}

#rp{
    position: absolute;
    width: 280px;
    height: 134px;
    left: 408px;
    top: 527px;

    font-family: Redressed;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    text-align: center;

    color: #FFFFFF;


}



#rpnumber1{

    position: absolute;
    width: 394px;
    height: 296px;
    left: 596px;
    top: 379px;

    font-family: Redressed;
    font-style: normal;
    font-weight: normal;
    font-size: 288px;
    line-height: 338px;
    text-align: center;
    overflow: hidden;

    color: #FFFFFF;
}

#rpline{

    position: absolute;
    font-size: 150px;
    font-weight: 550;
    transform: rotate(35deg);
    left: 920px;
    top: 500px;
    color:white;
    overflow: hidden;

}

#rpnumber2{
    position: absolute;
    width: 394px;
    height: 200px;
    left: 810px;
    top: 596px;

    font-family: Redressed;
    font-style: normal;
    font-weight: normal;
    font-size: 144px;
    line-height: 169px;
    text-align: center;
    margin:0;

    color: #FFFFFF;
}

#gamestatus{
    position: absolute;
    width: 464px;
    height: 137px;
    left: 1284px;
    top: 647px;

    font-family: Redressed;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    text-align: center;

    color: #FF0000;
}

#gamestatus2{
    position: absolute;
    width: 544px;
    height: 98px;
    left: 1204px;
    top: 686px;
    
    font-family: Redressed;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    
    color: #00FF19;
}