<link href='https://fonts.googleapis.com/css?family=Redressed' rel='stylesheet'>
<ami-fullstack-background-image type="start"></ami-fullstack-background-image>
<div class=overlay>
    <h1>Mafia game</h1>
    <h2>Please scan the QR-Code from the Smart table to enter the game</h2>
    <p id="rp">Registered Players:</p>
    <p id="rpnumber1">{{rp}}</p>
    <div id="rpline">|</div>
    <p id="rpnumber2">7</p>
    <p id="gamestatus" *ngIf= "rp < 7">Game needs {{7-rp}} more Players</p>
    <p id="gamestatus2" *ngIf= "rp >= 7">Jessica,Lets,Play!</p>
</div>