<div class="grid-container" [ngStyle]="position">
    <div class="grid-item"></div>
    <div class="grid-item">
        <button class="button" (click)="up()"><img src="assets/scroll.png" style="width: 100%"></button>
    </div>
    <div class="grid-item"></div>
    <div class="grid-item">
        <button class="button" ><img src="assets/pie.png" style="width: 100%"></button>
    </div>
    <div class="grid-item">
        <button class="button" (click)="cancel()"><img src="assets/x-button.png" style="width: 80%"></button>
    </div>
    <div class="grid-item">
        <button class="button" (click)="cemetery()"><img src="assets/cemeteryicon.png" style="width: 100%"></button>
    </div>
    <div class="grid-item"></div>
    <div class="grid-item">
        <button class="button" (click)="down()"><img src="assets/scroll.png" style="width: 100%; transform:rotate(180deg);"></button>
    </div>
    <div class="grid-item"></div>
</div>
