<div class="grid-container" [ngStyle]="position">
    <div class="grid-item"></div>
    <div class="grid-item">
        <button class="button" (click)="up()">U</button>
    </div>
    <div class="grid-item"></div>
    <div class="grid-item">
        <button class="button" >P</button>
    </div>
    <div class="grid-item">
        <button class="button" (click)="cancel()">X</button>
    </div>
    <div class="grid-item">
        <button class="button" (click)="cemetery()">C</button>
    </div>
    <div class="grid-item"></div>
    <div class="grid-item">
        <button class="button" (click)="down()">D</button>
    </div>
    <div class="grid-item"></div>
</div>
